<a href="https://colab.research.google.com/github/fotojuanmoreno/DescubriendoML/blob/master/2.-%20arbol-car/arbol_car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Vamos a intentar crear y entender  esto.
Lo primero será importar las librerías  panda y matplotlib. Más tarde he tenido que importar numpy a pesar de que en el tutorial no lo hacían.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

Importamos los datos

In [ ]:
data = pd.read_csv("car.csv", header = None)

Le damos el nombre a las columnas:

In [ ]:
data.columns = ["price", "maintenance", "n_doors", "capacity", "size_lug", "safety", "class"]

Y comprobamos que todo a ido bien.

In [ ]:
data.sample(5)

      price  maintenance  n_doors  capacity  size_lug  safety  class
1129      2            2        2         3         2       2    acc
1640      1            1        1         3         1       3  unacc
623       3            3        4         1         1       3  unacc
223       4            2        1         1         3       2  unacc
870       2            4        1         1         3       1  unacc

El siguiene paso es configuara los datos str a numeros con los que trabajar. Este paso me ha dado algunos errores pero se ha ejeutado bien, así que no sé muy bien qué ha fallado

In [ ]:
data.price.replace(('vhigh', 'high', 'med', 'low'), (4, 3, 2, 1), inplace = True)
data["maintenance"].replace(("vhigh", "high", "med", "low"), (4, 3, 2, 1), inplace = True)
data["n_doors"].replace(("2", "3", "4", "5more"), (1, 2, 3, 4), inplace = True)
data["capacity"].replace(("2", "4", "more"), (1, 2, 3), inplace = True)
data["size_lug"].replace(("small", "med", "big"), (1, 2, 3), inplace = True)
data["safety"].replace(("low", "med", "high"), (1, 2,3), inplace = True)

In [ ]:
data["class"].replace(("unacc", "acc", "good", "vgood"), (1, 2, 3, 4), inplace = True)

In [ ]:
data.head(5)

   price  maintenance  n_doors  capacity  size_lug  safety  class
0      4            4        1         1         1       1      1
1      4            4        1         1         1       2      1
2      4            4        1         1         1       3      1
3      4            4        1         1         2       1      1
4      4            4        1         1         2       2      1

Creamos una variable que contenga los valores, sin cabecera.
en el valor x introducimos las columnas. En Y intrucucimos un arreglo que contiene la ultima columna del set de datos, el resultado de si debermos o no comprar ese coche. 
asarray conviente un objeto iterable en un array, lo que nos permite especificar el tipo a aplicar (esto no se que es)

In [ ]:
import numpy as np

dataset = data.values
X = dataset[:, 0:6]
Y = np.asarray(dataset[:, 6], dtype = "S6")

importamos las librerias para crear el arblo de decisiones.

In [ ]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

Dividimos la informacion en x e y, y lo repartimos en dos grupos. Entrenamiento y prueba. El primer grupo, de un 80%, servirá para entrenar el modelo. El segundo lo usaremos para comprobar si este ha aprendido y funciona.

In [ ]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

iniciamos nuestro arbol y le damos una profundidad maxima.

In [ ]:
tr = tree.DecisionTreeClassifier(max_depth = 10)

Este es el momento en el que creamos el modelo:

In [ ]:
tr.fit(X_Train, Y_Train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

esta variable nos gusrada una prediccion a través de los datos de test.

In [ ]:
y_pred = tr.predict(X_Test)

In [ ]:
y_pred

array([b'1', b'1', b'1', b'1', b'1', b'3', b'1', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'2', b'1', b'1', b'2', b'1', b'3', b'2',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'3', b'2', b'1',
       b'2', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'4', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'1',
       b'1', b'2', b'1', b'2', b'2', b'2', b'1', b'1', b'1', b'1', b'3',
       b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'4', b'1', b'2', b'2',
       b'1', b'1', b'1', b'2', b'1', b'4', b'2', b'1', b'2', b'1', b'1',
       b'1', b'1', b'1', b'2', b'1', b'3', b'1', b'1', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'3', b'1', b'1', b'1',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1',
       b'1', b'1', b'1', b'1', b'2', b'2', b'2', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1',
       b'1', b'2', b'1', b'4', b'1', b'1', b'1', b'4', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'3', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'2', b'3', b'2', b'2', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'1', b'4', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'4', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'3', b'1', b'2', b'1',
       b'2', b'1', b'3', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'3', b'1', b'3', b'1', b'1', b'1', b'4', b'1', b'1',
       b'4', b'1', b'2', b'1', b'2'], dtype='|S6')

Para comprobar si está funcionando podemos comprobar que porcentaje de acierto tiene.

In [ ]:
score = tr.score(X_Test, Y_Test)

In [ ]:
print("precision: %0.4f" % (score))

precision: 0.9769

Ahora que lo he visto y repasado todo, lo entiendo más o menos, pero el ejercicio no estaba muy bien planteado o al menos explicado.

Las distintas columnas de los datos nos indican una serie de caracteristicas de los vehiculos (número de puestas, si son seguros, cosas así...) y la última columna, class, indica si el vehiculo es adecuado para comprarlo o no. Lo que le enseñamos al modelo es a ver los datos que itienen las preimeras columnas para que lo sepa relacionar con la última y nos diga si es apto o no.

Faltaría sacar algun analisis grafico y probar a introcucir un modelo para que el programa nos diga si es apto o no.